:host {
    height: 60px;
    width: 100%;
    color: #495057;
}

.time-block {
    position: absolute;
    right: 0;
    padding: 4px;

}

.header-login {
    position: absolute;
    right: 100px;
    padding: 4px;
}